################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MCSWebNode
/MyMCSController-main.zip
